*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('img/codigo1.png');
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: center;
}

.cabecalho_menu{
    display: flex;
    gap: 30px;
    padding: 30px;
}

.menu_link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: blue;
    transition: .2s;
}

.menu_link:hover{
    color: rgb(191, 191, 243);
    transform: scale(1.10)
}

.logo_menu{
    width: 18px;
}

.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}


.apresentacao {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.nome{
    color: blue;
    font-size: 40px;
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}

.redes_sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.redes_sociais a{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 40px;
    width: 150px;
    transition: 0.2s;
    color: white;
}

.redes_sociais a:hover {
    border: 1px solid blue;
    transform: scale(1.05);
}

a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

.foto{
    width: 300px;
}

.foto_hailidades{
    width: 350px;
}

.meus_projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.meus_projetos img{
    transition: 0.2s;
}

.meus_projetos img:hover{
    cursor: pointer;
    transform: scale(1.10);
}

.foto_projetos{
    max-width: 250px;
}

.logolinks{
    width: 30px;
}

.destaque {
    color: blue;
}

hr{
    border-color: blue;
}

footer {
    margin-top: auto;
    text-align: center;
}

.logo_alura{
    padding: 10px;
}

#autor::after{
    content: "|";
    color: blue;
    animation: piscar 0.65s infinite;
}

@keyframes piscar {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 860px) {
    .container{
        padding-bottom: 50px;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }

    .meus_projetos{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 540px) {
    .informacoes{
        width: 300px;
    }
}